* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f8ff;
    line-height: 1.9;
    font-family: Arial, sans-serif;
    text-align: center;
}

.ocean-background {
    padding: 1em;
    min-height: 100vh;
    color: white;
    text-shadow: 1px 1px 2px black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("ocean.jpg");
    background-size: cover;
}

header {
    background-color: rgba(0, 51, 102, 0.8);
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;

}

nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin-right: 1em;
    display: inline;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 3em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

main {
    padding: 1em;
    margin-top: 2em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


footer {
    background-color: rgba(0, 51, 102, 0.8);
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 2em;
}

h2 {
    text-shadow: 1px 1px 2px black;
    margin-bottom: 0.5em;
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 0.5em;
    text-align: center;
}

.species-gallery {
    text-align: center;
    margin-top: 1em;
    padding: 1em;
  
}

.species-card {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 0.5em;
    padding: 1em;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.species-card img {
    max-width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto 1em;
    margin-bottom: 0.5em;
}

.species-card:hover {
    transform: scale(1.05);
    transition: transform 0.2s;

}

.species-card h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.species-card p {
    font-size: 1em;
    margin-bottom: 0.5em;
}

section {
    margin-top: 2em;
    padding: 1em;
    margin-bottom: 2em;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #004466;
    color: white;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006699;
}

form {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 5px;
    max-width: 600px;
    margin: 2em auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

label {
    font-weight: bold;
}

ol {
    list-style-position: inside;
    text-align: center;
    padding-left: 0;
}